############ Django #############
# https://github.com/django/django/blob/main/.gitignore
*.egg-info
*.pot
*.py[co]
.tox/
.vscode
__pycache__
MANIFEST
dist/
docs/_build/
docs/locale/
node_modules/
tests/coverage_html/
tests/.coverage*
build/
tests/report/
api/cache
# Production
api/config/django/settings/production.py
api/config/docker/production
api/config/requirements/production.txt

########### Sveltekit ###########
# From: npm create svelte@latest
.DS_Store
.svelte-kit/
package/
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

############# MLOps #############
urge_pipelines/
pose_pipelines/